header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    padding: 2rem;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
header a {
    text-decoration: none;
    color: #e74c3c;
    font-weight: bold;
    font-size: 18px;
    margin-right: 2rem;
}

header a:hover {
    color: #333;
}

h1{
 color: #3c3c3c;
}
.mylogo{
    height:250px;
    width: auto;
}
